.public-container{
  background-color: $cPrimary;
  background: linear-gradient(to right, $cPrimary, $cSecondary);

  .publicationContainerContent {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 100%;
    gap: 1vh;
  }
}
