.public-container{
  background-color: $cPrimary;
  background: linear-gradient(to right, $cPrimary, $cAccent);
}

.public-container .publicationContainerContent {
  overflow-x: auto; 
  white-space: nowrap;
}
