#navigation-bar {
  background-color: $cPrimary !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 $cAccent;
  height: 5em;
  display: flex; 
  align-items: center;
  
  span {
    color: black;
    font-family: "Montserrat", sans-serif;
  }
  
  .navbar_link {
    color: white;
    text-decoration: none;
    height: 100%;
    align-items: center;
    :hover {
      background-color: $cSecondary !important;
      font-weight: bold;
    }
  }

  #authButtons {
    margin-left: auto;
  }

  #authButtons button {
    margin: 1em;
    background-color: $cAccent;
    color: white !important;
    font-weight: bold !important;
    font-family: "Montserrat", sans-serif !important;
  }

  #logo {
    height: 5em;
  }
}
