.example-spacer {
  flex: 1 1 auto;
}

#navigation-bar{
  background-color: #98FF98 !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 #FFB6C1;

}

#navigation-bar span{
  color: black;
  font-family: 'Montserrat', sans-serif;
}
