<app-my-space-tool-bar
  (workSpaceSelected)="getSelectedWorkSpace($event)"
></app-my-space-tool-bar>

<div *ngIf="workSpace.id != -1">
  <div class="text-center my-3">
    <h1 class="col-12 title">
      {{ workSpace.name }}
    </h1>

    <p>
      {{ workSpace.description }}
    </p>
  </div>

  <!-- Tareas --------------------------------------------------------------------->
  <app-publication-container>
    <p class="cTittle">Tareas</p>
    <p class="publicationFormTitle">Crear Tarea</p>
    <div class="publicationFormContent row">
      <div class="text-center">
        <input
          type="submit"
          class="btn btn-primary roundedInput my-3"
          name="identificarse"
          value="Crear"
        />
      </div>
    </div>
  </app-publication-container>
  <!--Notas ----------------------------------------------------------------------->

  <!--Form------------------------------------------------------->

  <app-publication-container>
    <p class="cTittle">Notas</p>
    <p class="publicationFormTitle">Crear Nota</p>
    <div class="publicationFormContent row">
      <input type="hidden" name="ithWkId" value="{{ workSpace.id }}" />
      <input
        type="text"
        name="ittTitle"
        class="inputPublicationContent container-fluid my-2 nomalText col-12"
        placeholder="Introduce el titulo de tu nota"
        [(ngModel)]="nNota.title"
      />
      <input
        type="text"
        name="ittSubtitle"
        class="inputPublicationContent container-fluid my-2 nomalText col-12"
        placeholder="Introduce el subtitulo de tu nota"
        [(ngModel)]="nNota.subtitle"
      />
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        class="inputPublicationContent container-fluid my-2 nomalText"
        placeholder="Introduce el contenido de tu nota"
        [(ngModel)]="nNota.content"
      ></textarea>
      <div class="text-center">
        <input
          type="submit"
          class="btn btn-primary roundedInput my-3"
          name="identificarse"
          value="Crear"
          (click)="createNota()"
        />
      </div>
    </div>

    <!--Notes------------------------------------------------------->
    <div class="publicationContainerContent d-flex">
      <app-nota *ngFor="let nota of notas" class="">
        <button
          (click)="toggleEditing(nota.pId)"
          class="button col-1 mr-auto"
          *ngIf="editingNoteId === nota.pId"
        >
          <span (click)="updateNota(nota)" class="material-symbols-outlined"> done </span>
        </button>
        <button (click)="toggleEditing(nota.pId)" class="button col-1 mr-auto">
          <span class="material-symbols-outlined"> edit </span>
        </button>
        <button
          (click)="openDeletePublicationModal(nota.pId)"
          class="button col-1 mr-auto"
        >
          <span class="material-symbols-outlined"> close </span>
        </button>
        <!-- Input para el título -->
        <input
          type="text"
          class="nTitle"
          [(ngModel)]="nota.title"
          [disabled]="editingNoteId !== nota.pId"
          [ngClass]="{ editing: editingNoteId === nota.pId }"
        />
        <!-- Input para el subtítulo -->
        <input
          type="text"
          class="nSubtitle"
          [(ngModel)]="nota.subtitle"
          [disabled]="editingNoteId !== nota.pId"
          [ngClass]="{ editing: editingNoteId === nota.pId }"
        />
        <!-- Textarea para el contenido -->
        <textarea
          cols="30"
          rows="14"
          class="nContent"
          [(ngModel)]="nota.content"
          [disabled]="editingNoteId !== nota.pId"
          [ngClass]="{ editing: editingNoteId === nota.pId }"
        ></textarea>
      </app-nota>
    </div>
  </app-publication-container>
  <!--Recordatorios----------------------------------------------------------------->
  <app-publication-container>
    <p class="cTittle">Recordatorios</p>
    <p class="publicationFormTitle">Crear Recordatorio</p>
    <div class="publicationFormContent row">
      <div class="text-center">
        <input
          type="submit"
          class="btn btn-primary roundedInput my-3"
          name="identificarse"
          value="Crear"
        />
      </div>
    </div>
  </app-publication-container>
</div>

<!--No work spaces message-->
<div *ngIf="workSpace.id == -1" class="w-100 h-100 text-center">
  <h1>Ningún espacio de trabajo seleccionado</h1>
</div>
