<app-my-space-tool-bar></app-my-space-tool-bar>
<!-- Tareas --------------------------------------------------------------------->
<app-publication-container>
  <p class="cTittle">
    Tareas
  </p>
  <div class="cContent">
    {{user.name}}
    {{user.secondName}}
  </div>
</app-publication-container>
<!--Notas ----------------------------------------------------------------------->
<app-publication-container>
  <p class="cTittle">
    Notas
  </p>
  <div class="cContent">
    {{user.name}}
    {{user.secondName}}
  </div>
</app-publication-container>
<!--Recordatorios----------------------------------------------------------------->
<app-publication-container>
  <p class="cTittle">
    Recordatorios
  </p>
  <div class="cContent">
    {{user.name}}
    {{user.secondName}}
  </div>
</app-publication-container>
