<mat-toolbar id="spaceToolBar">
  <div class="container-fluid">
    <div class="row">
      <app-drop-down
       class="col-6"
       (obtainedObject)="getSelectedWorkSpace($event)"
      >
        <option
          *ngFor="let workSpace of workSpaces; let i = index"
          [value]="workSpace.id"
          [selected]="i === 0" 
        >
          {{ workSpace.name }}
        </option>
      </app-drop-down>

      <div class="col-6 d-flex justify-content-end">
        <button
          mat-flat-button
          id="deleteWorkSpace"
          (click)="deleteWorkSpaceModal()"
          class="col-3 mx-2"
        >
          Borrar espacio de trabajo
        </button>
        <button
          mat-flat-button
          id="createWorkSpace"
          (click)="openNewWorkSpaceModal()"
          class="col-4 mx-2"
        >
          Crear nuevo espacio de trabajo
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
