#spaceToolBar{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 $cAccent;
  margin: none;

  #createWorkSpace{
    background-color: $cAccent !important;
  }

  #deleteWorkSpace{
    background-color: $cSecondary !important;
  }

  #accessWorkSpace{
    background-color: $cPrimary !important;
  }
}
