.publicationForm{
    background-color: #212121;
    border-radius: 20px;
    padding: 1vh;
    input, textarea {
        background-color: #727272;
        color: white;
        border-radius: 10px;
        padding: 1vh;
    }
}