@import 'assets/styles/variables';

body {
  background-color: $cBackGround;
}

.title {
  font-family: 'Montserrat', sans-serif;
}

.nomalText {
  font-family: 'Open Sans', sans-serif;
}

.subtitle{
  font-family: 'Roboto Mono', monospace;
}
