<app-user-formulary>
  <p id="formTitle">Identificarse</p>
  <div id="formContent">
    <!-- Email input -->
    <div class="col my-3">
      <label for="Email" class="form-label subtitle">Correo electrónico</label>
      <input
        type="Email"
        class="roundedInput form-control"
        id="pwd"
        name="Email"
        pattern="^[\\w.%+-]+@[\\w.-]+\\.[a-zA-Z]{2,}$"
        required
        [(ngModel)]="email"
      />
    </div>
    <!-- Password input -->
    <div class="col my-3">
      <label for="password" class="form-label subtitle">Contrseña</label>
      <input
        type="password"
        name="password"
        class="roundedInput form-control margenInferior"
        required
        [(ngModel)]="password"
      />
    </div>
  </div>

  <div id="formFooter">
    <div *ngIf="error" class="alert alert-danger text-center">{{ error }}</div>

    <a
      href="/register"
      class="nav-link text-light col-sm-12 text-center my-2"
    >
      Contraseña olvidada
    </a>
    <div class="text-center">
      <a href="/register" class="nav-link text-light my-2">
        No estoy registrado
      </a>
    </div>

    <div class="text-center">
      <input
        type="submit"
        class="btn btn-primary roundedInput my-3"
        name="identificarse"
        value="Identificarse"
        (click)="login()"
      />
    </div>
  </div>
</app-user-formulary>
